td,th{
    
    border: black solid 2px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    
}
table{
    border-collapse: collapse;
    margin-left: auto;
  margin-right: auto;
}
th{
    background-color: #003366;
    color: white;
    font-weight: bold;
}
tr {
  color: #333333;
}

tr:nth-child(even) {
  background-color: #eaf4fc;
}
tr:nth-child(odd) {
  background-color: #fff9e6;
}
.filtro{
    background-color: #ffe6e6;
}
body{
background-image: url(../img/fondo.jpg);
   background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}
header{
   color: white;
    font-size: 2.1em;
    border-bottom: black solid 6px;
    background: linear-gradient(to bottom, #0170B9, #27AADE);
    border-radius:  20px 20px 0px 0px;
    

    
}
h1{
    background-position: 25px center;
    padding: 20px 100px 20px 100px;
    position: relative;
}
h1 img{
    position: absolute;
    left :15px;
    top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
main h2 {
    font-size: 2em;
    color: rgb(3, 100, 160);
    text-shadow: 2px 2px 4px #47e0f5;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    text-shadow: 0px 0px 2px #777;
    letter-spacing: 5px;
}

nav{
    border-top: 5px solid black;
    background: linear-gradient(to bottom, #b9aa01, #ad6f4b);
    color: white;
    font-size: 0.7em;
    padding: 1em;
    margin: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

}
ul{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
nav p{
    
    font-size: 1.5em;
    color: rgb(3, 100, 160);
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px  #ffffff;
}
nav li{
    width: fit-content;
    background: linear-gradient(to top, #0170B9, #27AADE);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
}

nav li:hover{
    background: linear-gradient(to top, #27AADE, #0170B9);
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}
main{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
div{
    margin :5%;
}
footer{
    color: white;
text-align: center;
background: linear-gradient(to top, #0170B9, #27AADE);
border-top: 6px solid black;
padding-top: 15px;
padding-bottom: 15px;
border-radius:  0px 0px 20px 20px;
}
body{
    margin: 30px;
    font-size: 1em;
    font-family: "Luckiest Guy";
}

